html {
  scroll-behavior: smooth;
}

* {
  color: white;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Pretendard", sans-serif;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  background-color: black;
  position: relative;
  z-index: 1;
}

#infoModalBg {
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9;
  opacity: 0;
}

#infoModalBg.on {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  opacity: 0.9;
  animation: modalBg 0.3s linear 0s 1;
}

@keyframes modalBg {
  0% {
    z-index: -9;
    opacity: 0;
  }

  10% {
    z-index: 998;
    opacity: 0;
  }

  100% {
    z-index: 998;
    opacity: 0.9;
  }
}

#infoModal {
  width: 1000px;
  background-color: #0c0c0c;
  border-radius: 20px;
  position: fixed;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Pretendard", sans-serif;
  padding: 40px;
}

#infoModal.on {
  width: 1200px;
  background-color: #0c0c0c;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  animation: modal 0.3s alternate 0s 1;
  transform: translate(-50%, -50%);
  z-index: 999;
}

@keyframes modal {
  0% {
    top: 120%;
  }

  100% {
    top: 50%;
  }
}

.infoModalTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.infoModalLeft,
.infoModalRight {
  width: 48%;
}

.modalTop {
  color: #ffba4c;
  font-size: 12px;
  font-weight: 200;
}

.modalTitle {
  color: white;
  font-size: 3rem;
  font-weight: 800;
  padding: 70px 0 10px 0;
}

.modalCate {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.747);
  padding-bottom: 30px;
  font-weight: 100;
}

.modalStory {
  font-weight: 100;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.603);
}

.modalPhoto {
  width: 100%;
  height: 300px;
  background: url("b5296483897f715a1d30477d02a76fee.jpg");
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  border-radius: 20px;
}

.modalInfo {
  font-weight: 100;
  font-size: 14px;
  height: 100px;
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
}

.modalInfo > div:nth-of-type(1) > p {
  color: rgba(255, 255, 255, 0.664);
  padding-bottom: 10px;
}

.modalInfo > div:nth-of-type(2) > p {
  color: rgba(255, 255, 255, 0.404);
  padding-bottom: 10px;
}

.modalInfo > div:nth-of-type(3) > p {
  padding-left: 2rem;
  color: rgba(255, 255, 255, 0.664);
  padding-bottom: 10px;
}

.modalInfo > div:nth-of-type(4) > p {
  color: rgba(255, 255, 255, 0.404);
  padding-bottom: 10px;
}

.modalSentence {
  width: 100%;
  height: 200px;
}

.modalSentence > h3 {
  color: #ffba4c;
  font-weight: 200;
  padding: 1rem 0;
}

.modalSentence > p {
  color: rgba(255, 255, 255, 0.685);
  font-weight: 200;
  font-size: 14px;
  padding: 1rem 0;
}

.modalSentence > input {
  margin-top: 20px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.349);
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.137);
  border-radius: 10px;
  padding: 1rem;
}

.modalSentence > button {
  width: 50px;
  height: 50px;
  outline: none;
  background-color: rgba(0, 0, 0, 0.349);
  border: 1px solid #ffba4c;
  border-radius: 10px;
  transition: 0.2s;
}

.modalSentence > button:hover {
  background-color: #ffba4c;
  color: black;
  cursor: pointer;
}

#closeModal {
  position: absolute;
  top: 0;
  right: -70px;
  opacity: 0.3;
  transition: 0.2s;
}

#closeModal:hover {
  opacity: 0.7;
  cursor: pointer;
}

#topButton {
  width: 100px;
  height: 100px;
  background-color: #ffba4c;
  border-radius: 100px;
  position: fixed;
  right: 60px;
  bottom: 50px;
  z-index: 9;
}

#topButton > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#topButton:hover {
  background-color: white;
  cursor: pointer;
}

#topButton img {
  width: 24px;
  height: 45px;
  position: absolute;
  top: 26%;
  left: 39%;
  transition: 0.2s;
}

#topButton:hover img {
  transform: rotate(10deg);
}

#topButtonText {
  background: url("img/img_topbtn.png");
  background-position: center;
  background-size: cover;
  width: 85px;
  height: 85px;
  animation: rotation 10s linear 0s infinite;
  opacity: 0.9;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header {
  padding-top: 200px;
  max-width: 75%;
  margin: 0 auto;
}

.logo {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  color: #ffba4c;
  font-size: 10rem;
  font-weight: 400;
  font-family: "Anton", sans-serif;
}

.logo > span {
  color: white;
}

.globalNav {
  padding-top: 2rem;
}

.navItems {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 315px;
}

.navItem {
  border: 1px solid #ffba4c27;
  white-space: nowrap;
  border-radius: 100px;
  font-size: 0.9rem;
  transition: 0.2s;
}

.navItem:hover {
  cursor: pointer;
  border: 1px solid #ffba4c50;
}

.navItem > a {
  display: inline-block;
  color: rgba(255, 255, 255, 0.233);
  transition: 0.2s;
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.navItem:hover > a {
  color: #ffba4c;
}

main {
  max-width: 75%;
  margin: 0 auto;
}

.searchBar {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: end;
}

#sec01 {
  padding-top: 200px;
}

#sec01 > h2 {
  font-size: 1.5rem;
  font-weight: 650;
  text-align: center;
}

.inputWrapper {
  position: relative;
  width: 60%;
  margin-left: 50px;
  margin-top: 80px;
}

.inputWrapper > input {
  font-size: 15px;
  color: #c2c2c2;
  border: none;
  border-bottom: solid #444444 1px;
  padding-bottom: 10px;
  padding-left: 10px;
  position: relative;
  background: none;
  z-index: 5;
  width: 95%;
}

.inputWrapper > input::placeholder {
  color: #aaaaaa;
}
.inputWrapper > input:focus {
  outline: none;
  border-bottom: solid #aaaaaa 1px;
}

.inputWrapper > label {
  position: absolute;
  color: #3a3a3a;
  left: 10px;
  font-size: 1rem;
  bottom: 8px;
  transition: all 0.2s;
}

.inputWrapper > input:focus ~ label,
.inputWrapper > input:valid ~ label {
  font-size: 0.8rem;
  bottom: 40px;
  color: #666;
  font-weight: bold;
}

.inputWrapper > input:valid ~ span {
  width: 100%;
}

.searchBar > button {
  display: inline-block;
  border: 1px solid #ffffff6c;
  width: 14%;
  height: 40px;
  background-color: black;
  border-radius: 40px;
  font-family: "Pretendard", sans-serif;
  transition: 0.2s;
}

.searchBar > button:hover {
  cursor: pointer;
  border: 1px solid #ffffffa2;
}

.s1movieList {
  padding: 100px 0;
}

.s1movieList > li {
  height: 420px;
}

.s1_line {
  display: none;
}

.s1_line.on {
  display: block;
}

.s1movieListLine {
  display: flex;
  gap: 9px;
  height: 400px;
}

.s1movieListLine > li {
  width: 24.5%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.imgFit {
  height: 100%;
  background-image: url("img_fightclub.jpg");
  background-repeat: none;
  background-size: cover;
  background-position: center;
  transition: 0.2s;
}

.s1movieListLine > li:hover > .imgFit {
  opacity: 0.1;
  cursor: pointer;
}

.s1mvInfoShort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  line-height: 100px;
  height: 100px;
  padding: 0 1rem;
  position: absolute;
  top: 80%;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.87) 40%, rgba(0, 0, 0, 0));
}

.s1mvInfoShort > div {
  width: 80%;
  display: flex;
  align-items: center;
  height: 30px;
}

.mvCateShort {
  border: 1px solid rgba(255, 255, 255, 0.226);
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 200;
  padding: 0.4rem;
  color: rgba(255, 255, 255, 0.61);
  margin-right: 1rem;
  flex-shrink: 0;
  height: 100%;
  line-height: 100%;
}

.mvNameShort {
  display: inline-block;
  width: 75%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.mvTimeShort {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.356);
  white-space: nowrap;
  position: absolute;
  top: 0;
  right: 3%;
}

.s1MoreItem {
  width: 400px;
  height: 50px;
  border: 1px solid #ffba4c5e;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 0.9rem;
  color: #ffba4c8e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.s1MoreItem:hover {
  border: 1px solid #ffba4c;
  color: #ffba4c;
  cursor: pointer;
}

.s1MoreItem.on {
  display: none;
}

.s1pagination {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  display: none;
}

.s1pagination.on {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.s1pagination > .nums1 {
  color: rgba(255, 255, 255, 0.404);
  font-weight: 200;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.s1pagination > .nums1:hover {
  color: #ffba4c81;
  border: 1px solid #ffba4c81;
  cursor: pointer;
  border-radius: 30px;
}

.s1pagination > .nums1.on {
  color: #ffba4c;
  font-weight: 200;
  border: 1px solid #ffba4c;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

/* .prev,
.next {
  padding: 0 2rem;
  opacity: 0.2;
  font-weight: 200;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.prev.on,
.next.on {
  opacity: 0.7;
} */

#sec02 {
  padding-top: 180px;
}

#sec02 > h2 {
  font-size: 1.5rem;
  font-weight: 650;
}

.slideWrap {
  padding: 50px 0;
  height: 700px;
}

.slideSection {
  height: 600px;
  display: flex;
  justify-content: space-between;
}

.slideItem {
  position: relative;
  width: 13%;
  height: 280px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  box-shadow: -1px -1px 5px #0000007c;
  transition: 0.2s;
}

.slideItem:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.slideItem01.slideItem:hover {
  transform: scale(1);
  cursor: inherit;
}

.slideItem02 {
  margin-left: 2%;
}

.slideItem01 {
  width: 28%;
  height: 580px;
  background-size: cover;
  background-position: top;
  border-radius: 10px;
}

.slideItem01 > .slideItem01Cover {
  height: 100%;
  background-color: #000000;
  opacity: 0;
  transition: 0.2s;
}

.slideItem01Cover:hover {
  opacity: 0.9;
  cursor: pointer;
}

.slideItem01Cover.on {
  opacity: 1;
  transition: 0.2s;
}

.s2mvInfo {
  position: absolute;
  top: 60%;
  left: 120%;
  max-width: 700px;
  width: 200%;
}

.svInfoBtn {
  width: 120px;
  height: 50px;
  position: absolute;
  top: 0;
  right: -30%;
  display: flex;
  gap: 0.5rem;
}

.svInfoLeft,
.svInfoRight {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.493);
  outline: none;
  background-color: black;
}

.svInfoLeft > i,
.svInfoRight > i {
  color: rgba(255, 255, 255, 0.562);
}

.svInfoLeft:hover,
.svInfoRight:hover {
  border: 1px solid rgba(255, 255, 255, 0.856);
  color: white;
  cursor: pointer;
}

.s2mvInfo_title {
  font-size: 2rem;
  font-weight: 700;
}

.s2mvInfo_etc {
  font-weight: 300;
  padding: 0.6rem 0 0 0.2rem;
  color: rgba(255, 255, 255, 0.445);
}

.s2mvInfo_story {
  font-weight: 200;
  font-size: 14px;
  padding-top: 1.4rem;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.582);
}

.s2dots {
  width: 26%;
  padding: 3rem 0;
  display: flex;
  justify-content: space-between;
  padding-left: 0.5rem;
  position: absolute;
  top: 160px;
  left: 0;
}

.s2dots > span {
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: rgba(255, 255, 255, 0.185);
  border-radius: 6px;
}

.s2dots > span:hover {
  background-color: #ffba4c62;
  cursor: pointer;
}

.s2dots > span.on {
  background-color: #ffba4c;
}

#sec03 {
  padding-top: 140px;
  padding-bottom: 300px;
}

.sec03top {
  display: flex;
  justify-content: space-between;
}

.sec03top > h2 {
  font-size: 1.5rem;
  font-weight: 650;
}

.sec03top > .cateMenu {
  height: 30px;
  line-height: 40px;
}

.cateMenu > ul {
  display: flex;
}

.s3cateItem {
  color: rgba(255, 255, 255, 0.658);
  font-weight: 200;
  padding: 0 1rem;
}

.s3cateItem:hover {
  color: #ffba4c;
  cursor: pointer;
}

.s3cateItem.on {
  color: #ffba4c;
  border-bottom: 1px solid #ffba4c;
}

.s3movieList {
  padding: 50px 0 100px 0;
}

.s3movieList > li {
  height: 330px;
}

.s3movieListLine {
  display: flex;
  justify-content: space-between;
  height: 320px;
}

.s3movieListLine > li {
  width: 19.5%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.s3movieListLine > li:hover > .imgFit {
  opacity: 0.1;
  cursor: pointer;
}

.s3mvInfoShort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  line-height: 60px;
  height: 60px;
  padding: 0 1rem;
  position: absolute;
  top: 85%;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.87) 40%, rgba(0, 0, 0, 0));
}

.s3mvInfoShort > div {
  width: 80%;
  display: flex;
  align-items: center;
  height: 30px;
}

.mvNameShorts3 {
  display: inline-block;
  width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.s3_line {
  display: none;
}

.s3_line.on {
  display: block;
}

.s3MoreItem {
  width: 400px;
  height: 50px;
  border: 1px solid #ffba4c5e;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 0.9rem;
  color: #ffba4c8e;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.s3MoreItem:hover {
  border: 1px solid #ffba4c;
  color: #ffba4c;
  cursor: pointer;
}

.s3MoreItem.on {
  display: none;
}

.s3pagination {
  width: 200px;
  height: 30px;
  margin: 0 auto;
  display: none;
}

.s3pagination.on {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.s3pagination > .nums3 {
  color: rgba(255, 255, 255, 0.404);
  font-weight: 200;
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.s3pagination > .nums3:hover {
  color: #ffba4c81;
  border: 1px solid #ffba4c81;
  cursor: pointer;
  border-radius: 30px;
}

.s3pagination > .nums3.on {
  color: #ffba4c;
  font-weight: 200;
  border: 1px solid #ffba4c;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

footer {
  height: 100px;
  background-color: #0c0c0c;
}

@media (max-width: 1000px) {
  .logo {
    font-size: 5rem;
  }

  header {
    max-width: 100%;
  }

  .searchBar {
    width: 90%;
  }

  main {
    max-width: 90%;
  }

  .s1movieList > li {
    height: 220px;
  }

  .s1movieListLine {
    height: 200px;
  }

  .s1mvInfoShort {
    width: 100%;
    line-height: 100px;
    height: 100px;
    padding-bottom: 3rem;
    top: 80%;
  }

  .mvCateShort {
    display: none;
  }

  .mvTimeShort {
    display: none;
  }

  .slideItem {
    display: none;
  }

  .slideItem01 {
    display: block;
  }

  .slideSection {
    height: 600px;
    display: flex;
    justify-content: center;
  }

  .slideItem01 {
    width: 60%;
  }

  .s2mvInfo {
    top: 100%;
    left: 0;
    max-width: 100%;
    margin-top: 3rem;
  }

  .s2mvInfo_story {
    height: 100px;
    overflow: hidden;
  }

  .s2dots {
    display: none;
  }

  .svInfoBtn {
    width: 80px;
    height: 35px;
    top: 0;
    right: 0;
  }

  .svInfoLeft,
  .svInfoRight {
    width: 35px;
    height: 35px;
  }

  #sec03 {
    padding-top: 300px;
  }

  .sec03top {
    flex-direction: column;
    justify-content: center;
  }

  .sec03top > h2 {
    text-align: center;
  }

  .cateMenu {
    margin: 0 auto;
    padding: 3rem 0;
  }

  .s3movieList > li {
    height: 180px;
  }

  .s3movieListLine {
    display: flex;
    justify-content: space-between;
    height: 160px;
  }

  .s3mvInfoShort {
    line-height: 60px;
    height: 60px;
    padding: 0 1rem;
    top: 70%;
    left: 0;
  }

  .mvNameShorts3 {
    width: 90%;
  }

  #infoModal {
    width: 100%;
    height: 100vh;
  }

  #infoModal.on {
    width: 100%;
    height: 100vh;
  }

  .infoModalTop {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .infoModalLeft,
  .infoModalRight {
    width: 100%;
  }

  .modalTop {
    color: #ffba4c;
    font-size: 12px;
    font-weight: 200;
  }

  .modalTitle {
    color: white;
    font-size: 3rem;
    font-weight: 800;
    padding: 50px 0 10px 0;
  }

  .modalCate {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.747);
    padding-bottom: 30px;
    font-weight: 100;
  }

  .modalStory {
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.603);
  }

  .modalPhoto {
    width: 100%;
    height: 250px;
    background: url("b5296483897f715a1d30477d02a76fee.jpg");
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-radius: 20px;
  }

  .modalInfo {
    font-weight: 100;
    font-size: 14px;
    height: 100px;
    display: flex;
    gap: 2rem;
    padding: 2rem 0;
  }

  .modalInfo > div:nth-of-type(1) > p {
    color: rgba(255, 255, 255, 0.664);
    padding-bottom: 10px;
  }

  .modalInfo > div:nth-of-type(2) > p {
    color: rgba(255, 255, 255, 0.404);
    padding-bottom: 10px;
  }

  .modalInfo > div:nth-of-type(3) > p {
    padding-left: 2rem;
    color: rgba(255, 255, 255, 0.664);
    padding-bottom: 10px;
  }

  .modalInfo > div:nth-of-type(4) > p {
    color: rgba(255, 255, 255, 0.404);
    padding-bottom: 10px;
  }

  .modalSentence {
    width: 100%;
    height: 200px;
  }

  .modalSentence > h3 {
    color: #ffba4c;
    font-weight: 200;
    padding: 2rem 0;
  }

  .modalSentence > p {
    color: rgba(255, 255, 255, 0.685);
    font-weight: 200;
    font-size: 14px;
    padding: 1rem 0;
  }

  .modalSentence > input {
    margin-top: 20px;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.349);
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.137);
    border-radius: 10px;
    padding: 1rem;
  }

  .modalSentence > button {
    width: 50px;
    height: 50px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.349);
    border: 1px solid #ffba4c;
    border-radius: 10px;
    transition: 0.2s;
    margin-left: 1rem;
  }

  .modalSentence > button:hover {
    background-color: #ffba4c;
    color: black;
    cursor: pointer;
  }

  #closeModal {
    position: absolute;
    top: 20px;
    right: 40px;
    opacity: 0.1;
    transition: 0.2s;
  }

  #closeModal:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}
